/* Global imports */
/* for the text field on free quote div */
body {
  font-family: "Oxygen", sans-serif;
  font-size: small; }

/* Media Queries */
@media all and (min-width: 640px) {
  .header-container, .nav {
    flex-direction: row; } }
@media all and (min-width: 1030px) {
  .nav {
    flex: none; }

  .header-container,
  .steps {
    display: flex;
    flex-direction: row; }

  .header-container article {
    float: left;
    width: 57%; }

  .header-container aside {
    float: right;
    width: 28%; }

  .steps {
    justify-content: space-between;
    padding: 65px; } }
/* Nav */
.nav {
  display: flex;
  flex-direction: row; }

.header {
  justify-content: space-between; }

.nav {
  justify-content: space-between;
  max-height: 40px; }

.nav p {
  color: #FFF;
  margin-top: 10px;
  /*	padding-top: 0;*/ }

/* Header Content */
.main-header {
  background-color: #198E19; }

.header-container {
  background-image: url("../img/lawn.jpg");
  padding-top: 10px;
  padding-bottom: 10px; }
  @media (max-width: 750px) {
    .header-container {
      height: 565px; } }

.intro {
  color: #FFF;
  padding: 10px; }
  .intro p {
    font-weight: 300;
    margin: 0px; }
  .intro h2 {
    font-weight: 400; }

.check-list {
  color: #00CCFF;
  background-color: #FFF;
  padding: 10px;
  font-size: small;
  font-weight: 700;
  /* Slanted corner */
  width: 280px;
  height: 120px;
  padding-left: 90px;
  margin-left: -90px;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg); }

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #FFF;
  color: #373737;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px; }
  .quote .line1 {
    font-size: xx-small;
    font-weight: 300;
    color: #B7C2CC;
    margin-bottom: 0px; }
  .quote .line2 {
    font-size: medium;
    color: #00CCFF; }
  .quote .line3 {
    color: #00CCFF;
    border-style: solid;
    border-width: 2px;
    display: center;
    text-align: center;
    border-radius: 25px;
    width: 80px;
    height: 25px;
    align-self: center; }
    .quote .line3 p {
      margin-top: 5px; }
  .quote .line4 {
    font-size: xx-small;
    color: #B7C2CC;
    text-align: left;
    margin-bottom: 0px; }
  .quote .line5 {
    border-style: solid;
    border-width: 1px;
    border-color: #B7C2CC;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #B7C2CC;
    background-color: #E2F2F2;
    text-align: left;
    padding-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px; }
  .quote .line6 {
    font-size: x-small;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 10px;
    color: #FFF;
    background-color: #198E19; }

/* Steps section */
.steps {
  text-align: center;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #B7C2CC;
  padding-top: 35px; }

.step1,
.step2,
.step3 {
  display: flex;
  justify-content: space-around;
  flex-direction: column; }

.grey {
  color: #B7C2CC; }

.green {
  color: #198E19; }

.step-text {
  margin-top: 0; }

/* Testimonials */
.testimonials {
  z-index: 1;
  padding-top: 25px; }

.double-quote {
  z-index: -1;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  padding-top: 25px;
  padding-right: 55px; }

.past_performance {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  z-index: 1;
  text-align: center;
  color: #B7C2CC; }

.saying {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  z-index: 1;
  text-align: center;
  color: #373737; }

.comment {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  color: #373737; }

img {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  height: 100px;
  width: 100px; }

.round-pic {
  border-radius: 50%; }

.img-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.names {
  display: flex;
  flex-direction: column;
  margin: 0; }

.name, .city {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  color: #373737; }

.city {
  color: #B7C2CC; }

/* Icons */
.fa-bars {
  padding-left: 10px; }

.user-plus {
  padding-right: 10px; }

@media (max-width: 750px) {
  .phone {
    display: none; } }

.fa-check {
  color: #198E19; }

.fa-laptop,
.fa-calendar-o,
.fa-star {
  color: #00CCFF; }

.fa-quote-left {
  color: #e9edf0;
  position: absolute;
  display: flex;
  justify-content: space-around;
  z-index: -1; }

.fa-angle-left,
.fa-angle-right {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: #B7C2CC; }

/* Toggles */
.toggles {
  display: flex;
  flex-direction: column;
  text-align: center; }

.scope {
  border-top: 1px solid #B7C2CC;
  border-bottom: 1px solid #B7C2CC; }

.faq {
  border-bottom: 1px solid #B7C2CC; }

/* Carousel */
/*.wrap {
	position: relative;
	overflow: hidden;
	text-align: center;
}

footer {
	cursor: pointer;
	display: inline-block;

}

.slide {
	position: absolute;
	top: 0;
	left: 100%;
	position: absolute;
	z-index: 10;
	background-position: 50% 50%;
	background-size: cover;
}*/

/*# sourceMappingURL=application.css.map */
