/* Global imports */
body {
  font-family: Futura, "Trebuchet MS", sans-serif; }

/* for the text field on free quote div */
/* Media Queries */
@media all and (min-width: 640px) {
  .header-container, .nav {
    flex-direction: row; } }
@media all and (min-width: 1030px) {
  .nav {
    flex: none; }

  .header-container,
  .steps {
    display: flex;
    flex-direction: row; }

  .header-container article {
    float: left;
    width: 57%; }

  .header-container aside {
    float: right;
    width: 28%; }

  .steps {
    justify-content: space-between;
    padding: 65px; } }
/* Nav */
.nav {
  display: flex;
  flex-direction: row; }

.header {
  justify-content: space-between; }

.nav {
  flex-grow: 1;
  justify-content: space-around; }

.nav p {
  color: #FFF; }

/* Header Content */
.main-header {
  background-color: #198E19; }

.header-container {
  background-image: url("../img/lawn.jpg");
  height: 450px;
  padding-top: 10px;
  padding-bottom: 10px; }

.intro {
  color: #FFF; }

.pitch {
  color: #00CCFF; }

.quote {
  background-color: #FFF;
  color: #373737; }

/* Steps section */
.steps {
  text-align: center;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #B7C2CC;
  padding-top: 35px; }

.step1,
.step2,
.step3 {
  display: flex;
  justify-content: space-around;
  flex-direction: column; }

.grey {
  color: #B7C2CC; }

.green {
  color: #198E19; }

.step-text {
  margin-top: 0; }

/* Testimonials */
.testimonials {
  z-index: 1;
  padding-top: 25px; }

.double-quote {
  z-index: -1;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  padding-top: 25px; }

.past_performance {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  z-index: 1;
  text-align: center;
  color: #B7C2CC; }

.saying {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  z-index: 1;
  text-align: center;
  color: #373737; }

.comment {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  color: #373737; }

img {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  height: 100px;
  width: 100px; }

.round-pic {
  border-radius: 50%; }

.img-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.names {
  display: flex;
  flex-direction: column;
  margin: 0; }

.name, .city {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  color: #373737; }

.city {
  color: #B7C2CC; }

/* Icons */
.fa-laptop,
.fa-calendar-o,
.fa-star {
  color: #00CCFF; }

.fa-quote-left {
  color: #e9edf0;
  position: absolute;
  display: flex;
  justify-content: space-around;
  z-index: -1; }

.fa-angle-left,
.fa-angle-right {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: #B7C2CC; }

/* Toggles */
.toggles {
  display: flex;
  flex-direction: column;
  text-align: center; }

.scope {
  border-top: 1px solid #B7C2CC;
  border-bottom: 1px solid #B7C2CC; }

.faq {
  border-bottom: 1px solid #B7C2CC; }

/* Carousel */
.carousel {
  position: relative; }

/*.carousel {
  height: 130px;
}
.carousel li {
  position: absolute;
  top: 200px;
}
.carousel li.current {
  top: 30px;
}

.offscreen {
  position: absolute;
  left: -2000px;
}*/

/*# sourceMappingURL=application.css.map */
