/* Nav */
.nav {
  display: flex;
  flex-direction: row;
}

.header {
  justify-content: space-between;
}

.nav {
  justify-content: space-between;
  max-height: 40px;
}

.nav p {
	color: $white;
	margin-top: 10px;
/*	padding-top: 0;*/
}
/* Header Content */

.main-header {
	background-color: $green;
}

.header-container {
	background-image: url('../img/lawn.jpg');
	padding-top: 10px;
	padding-bottom: 10px;

	@media #{$brk-narrow} {
		height: 565px;
	}
}

.intro {
	color: $white;
	padding: 10px;

	p {
		font-weight: 300;
		margin: 0px;
	}

	h2 {
		font-weight: 400;
	}
}

.check-list {
	color: $blue;
	background-color: $white;
	padding: 10px;
	font-size: small;
	font-weight: 700;

	/* Slanted corner */
	width: 280px;
    
   
   /*
   	$pg-bg:             #dcdcdc;
	$rr-bg:             #232E39;
	$rr-bg-hover:       darken($rr-bg, 10%);

    $rr-height:         200px;
	$rr-slant:          100px;
	$rr-gutter:         1%;
	$rr-width:          50%;
	*/
	position: relative;
	height: 120px;
	z-index: 1;
	float: left;
	width: 227px + 50px;
}

	/* Add slant */
	.check-list:after,
	.check-list:before {
		content: "";
		position: absolute;
		top: 0;
		width: 0;
		height: 0;
	}
	
	.check-list:after {
		right: 0;
		border-left: 100px solid $white;
		border-bottom: 120px solid $green;
	}





















