/* Nav */
.nav {
  display: flex;
  flex-direction: row;
}

.header {
  justify-content: space-between;
}

.nav {
  justify-content: space-between;
  max-height: 40px;
}

.nav p {
	color: $white;
	margin-top: 10px;
/*	padding-top: 0;*/
}
/* Header Content */

.main-header {
	background-color: $green;
}

.header-container {
	background-image: url('../img/lawn.jpg');
	padding-top: 10px;
	padding-bottom: 10px;

	@media #{$brk-narrow} {
		height: 565px;
	}
}

.intro {
	color: $white;
	padding: 10px;
	
	p {
		font-weight: 300;
		margin: 0px;
	}

	h2 {
		font-weight: 400;
	}
}

.check-list {
	color: $blue;
	background-color: $white;
	padding: 10px;
	font-size: small;
	font-weight: 700;

	/* Slanted corner */
	width: 280px;
    height: 120px;
    padding-left: 90px;
    margin-left: -90px;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);	
}





















