/* Media Queries */

@media all and (min-width: 640px) {
  .header-container, .nav {
    flex-direction: row;
  }
}

@media all and (min-width: 1030px) {
  .nav {
    flex: none;
  }

  .header-container,
  .steps {
  	display: flex;
  	flex-direction: row;
  }	

   .header-container article {
   	float: left;
  	width: 57%;
  }

  .header-container aside {
  	float: right;
    width: 28%;
  }

  .steps {
  		justify-content: space-between;
  		padding: 65px;
  	}

}