/* Steps section */

.steps {
	text-align: center;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid $grey;
	padding-top: 35px;
}

.step1,
.step2,
.step3 {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.grey {
	color: $grey;
}

.green {
	color: $green;
}

.step-text {
	margin-top: 0;
}

