/* Testimonials */
.testimonials {
	z-index: 1;
	padding-top: 25px;
}

.double-quote {
	z-index: -1;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	text-align: center;
	padding-top: 25px;
	padding-right: 55px;

}

.past_performance {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 0px;
	z-index: 1;
	text-align: center;
	color: $grey;	
}

.saying {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	z-index: 1;
	margin-top: 0;
	text-align: center;
	color: $black;	
}

.comment {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	text-align: center;
	color: $black;	
}

img {
	background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.round-pic {
	border-radius: 50%;
}

.img-arrows {
	display: flex;
  flex-direction: row;
	justify-content: space-between;
}

.names {
	display: flex;
  flex-direction: column;
  margin: 0;
}

.name, .city {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	text-align: center;
	color: $black;	
}

.city {
	color: $grey;
}