/* Carousel */

.carousel {
	position: relative;
}

/*.carousel {
  height: 130px;
}
.carousel li {
  position: absolute;
  top: 200px;
}
.carousel li.current {
  top: 30px;
}

.offscreen {
  position: absolute;
  left: -2000px;
}*/